![Premier League Logo](https://wl-portfolio.s3.eu-west-2.amazonaws.com/images/premier_league_logo.png)

In the English Premier League, there is the idea of the "big 6". Let's use Pandas to see the top 6 finishing teams within the Premier League between the seasons of 2006-2007 until 2017-2018

In [1]:
# Check Python version for compatibility/reference
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

/Users/waynelambert/anaconda3/bin/python
3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [2]:
# Import requisite data science libraries
import pandas as pd

In [3]:
# Check Package version numbering for compatibility/reference
print(f"{'Pandas version:'} \t{pd.__version__}")

Pandas version: 	1.0.1

In [4]:
# Set format of number fields to be formatted as whole numbers
pd.options.display.float_format = '{:,.0f}'.format

In [5]:
# Read the file into a Pandas dataframe
df = pd.read_csv('../data_files/prem_stats.csv', index_col=None)

In [6]:
df.head(3)

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28,5,83,60,1,698,256,21,12,...,918,258,"25,686",nan,1,nan,2,37,25,2006-2007
1,Chelsea,24,3,64,62,4,636,216,14,16,...,897,231,"24,010",nan,2,nan,1,74,22,2006-2007
2,Liverpool,20,10,57,44,0,668,214,15,8,...,"1,107",282,"24,150",nan,1,nan,0,51,27,2006-2007

In [7]:
# Draws are not included in the dataset, so this constant exists to enable the calculation of draws. There have always been 38 games per season since the Premier League's inception.
GAMES_PER_SEASON = 38

In [8]:
# Select just the columns required
df = df.filter([ 'team', 'wins', 'losses', 'goals', 'season'])

In [9]:
# Insert a calculated field for the number of draws
df.insert(2, 'draws', GAMES_PER_SEASON - df['wins'] - df['losses'])

In [10]:
# Change all of the column headers to be title case
df.columns = map(lambda x: str(x).title(), df.columns)

In [11]:
# Append a column and use it as a position number for each group
df['dummy'] = 0
df['Pos'] = df.groupby(['Season'])['dummy'].cumcount() + 1
df = df.drop('dummy', axis=1)

In [12]:
# Organise the dataframe in the order required for presentation
df = df[['Pos', 'Team', 'Wins', 'Draws', 'Losses', 'Goals', 'Season']]

In [13]:
# Set the seasons groups to iterate over
seasons = df.groupby(['Season'])

In [14]:
# Reflect the top 6 finishing teams for each of the seasons
seasons_tables = [seasons.get_group(season).head(6) for season in seasons.groups]

In [15]:
seasons_tables

[   Pos               Team  Wins  Draws  Losses  Goals     Season
 0    1  Manchester United    28      5       5     83  2006-2007
 1    2            Chelsea    24     11       3     64  2006-2007
 2    3          Liverpool    20      8      10     57  2006-2007
 3    4            Arsenal    19     11       8     63  2006-2007
 4    5  Tottenham Hotspur    17      9      12     57  2006-2007
 5    6   Bolton Wanderers    16      8      14     47  2006-2007,
     Pos               Team  Wins  Draws  Losses  Goals     Season
 20    1  Manchester United    27      6       5     80  2007-2008
 21    2            Chelsea    25     10       3     65  2007-2008
 22    3            Arsenal    24     11       3     74  2007-2008
 23    4          Liverpool    21     13       4     67  2007-2008
 24    5            Everton    19      8      11     55  2007-2008
 25    6        Aston Villa    16     12      10     71  2007-2008,
     Pos               Team  Wins  Draws  Losses  Goals     Season
 40    1  Manchester United    28      6       4     68  2008-2009
 41    2            Chelsea    25      8       5     68  2008-2009
 42    3          Liverpool    25     11       2     77  2008-2009
 43    4            Arsenal    20     12       6     68  2008-2009
 44    5        Aston Villa    17     11      10     54  2008-2009
 45    6            Everton    17     12       9     55  2008-2009,
     Pos               Team  Wins  Draws  Losses  Goals     Season
 60    1            Chelsea    27      5       6    103  2009-2010
 61    2  Manchester United    27      4       7     86  2009-2010
 62    3            Arsenal    23      6       9     83  2009-2010
 63    4  Tottenham Hotspur    21      7      10     67  2009-2010
 64    5          Liverpool    18      9      11     61  2009-2010
 65    6    Manchester City    18     13       7     73  2009-2010,
     Pos               Team  Wins  Draws  Losses  Goals     Season
 80    1  Manchester United    23     11       4     78  2010-2011
 81    2            Chelsea    21      8       9     69  2010-2011
 82    3    Manchester City    21      8       9     60  2010-2011
 83    4            Arsenal    19     11       8     72  2010-2011
 84    5          Liverpool    17      7      14     59  2010-2011
 85    6  Tottenham Hotspur    16     14       8     55  2010-2011,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 100    1    Manchester City    28      5       5     93  2011-2012
 101    2  Manchester United    28      5       5     89  2011-2012
 102    3            Arsenal    21      7      10     74  2011-2012
 103    4  Tottenham Hotspur    20      9       9     66  2011-2012
 104    5   Newcastle United    19      8      11     56  2011-2012
 105    6            Chelsea    18     10      10     65  2011-2012,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 120    1  Manchester United    28      5       5     86  2012-2013
 121    2    Manchester City    23      9       6     66  2012-2013
 122    3            Chelsea    22      9       7     75  2012-2013
 123    4            Arsenal    21     10       7     72  2012-2013
 124    5  Tottenham Hotspur    21      9       8     66  2012-2013
 125    6            Everton    16     15       7     55  2012-2013,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 140    1    Manchester City    27      5       6    102  2013-2014
 141    2          Liverpool    26      6       6    101  2013-2014
 142    3            Chelsea    25      7       6     71  2013-2014
 143    4            Arsenal    24      7       7     68  2013-2014
 144    5            Everton    21      9       8     61  2013-2014
 145    6  Tottenham Hotspur    21      6      11     55  2013-2014,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 160    1            Chelsea    26      9       3     73  2014-2015
 161    2    Manchester City    24      7       7     83  2014-2015
 162    3            Arsenal    22      9       7     71  2014-2015
 163    4  Manchester United    20     10       8     62  2014-2015
 164    5  Tottenham Hotspur    19      7      12     58  2014-2015
 165    6          Liverpool    18      8      12     52  2014-2015,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 180    1     Leicester City    23     12       3     68  2015-2016
 181    2            Arsenal    20     11       7     65  2015-2016
 182    3    Manchester City    19      9      10     71  2015-2016
 183    4  Manchester United    19      9      10     49  2015-2016
 184    5  Tottenham Hotspur    19     13       6     69  2015-2016
 185    6        Southampton    18      9      11     59  2015-2016,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 200    1            Chelsea    30      3       5     85  2016-2017
 201    2  Tottenham Hotspur    26      8       4     86  2016-2017
 202    3            Arsenal    23      6       9     77  2016-2017
 203    4    Manchester City    23      9       6     80  2016-2017
 204    5          Liverpool    22     10       6     78  2016-2017
 205    6  Manchester United    18     15       5     54  2016-2017,
      Pos               Team  Wins  Draws  Losses  Goals     Season
 220    1    Manchester City    32      4       2    106  2017-2018
 221    2  Manchester United    25      6       7     68  2017-2018
 222    3  Tottenham Hotspur    23      8       7     74  2017-2018
 223    4            Chelsea    21      7      10     62  2017-2018
 224    5          Liverpool    21     12       5     84  2017-2018
 225    6            Arsenal    19      6      13     74  2017-2018]